@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;1,500&family=Open+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
    color: rgb(51, 51, 51);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    position: relative;
}

.App {
    width: 1280px;
    margin: 50px auto; 

}

header{
    position: relative;
}

header .logo {
    font-weight: 600;
    font-size: 20px;
}

header ul.nav{
    float: right;
    list-style: none;
}


header ul.nav li{
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: 0.4s 0.1s;
}

header ul.nav li:hover{
    opacity: 0.5;
}

header .shop-bascet-button {
    float: right;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

header .shop-bascet-button:hover,
header .shop-bascet-button.active {
    color: rgb(218, 37, 37);
    transform: scale(1.5);
}

header .shop-cart {
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
     box-shadow: 6px 7px 21px -2px rgba(0,0,0,0.43);
    -webkit-box-shadow: 6px 7px 21px -2px rgba(0,0,0,0.43);
    -moz-box-shadow: 6px 7px 21px -2px rgba(0,0,0,0.43);
    Z-index:2000;

    padding: 20px;
    padding-bottom: 0;
}

header .shop-cart .empty h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

header .shop-cart .item{
        width: 100%;
        float: left;
        margin-bottom: 20px;
}

header .shop-cart .item img{
    width: 70px;
    float: left;
    margin-right: 20px;
}

header .shop-cart .item h2{
    font-size: 20px;
    margin-bottom: 10px; 
}

header .shop-cart .item p {
    color: #797979;
    font-weight: 600;
}

header .shop-cart .item .delete-icon {
    color: rgb(182, 55, 55);
    float: right;
    position: relative;
    top: -25px;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

header .shop-cart .item .delete-icon:hover {
    color: rgb(199, 40, 40);
    transform: scale(1.5)
}

header shop-cart .sum {
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 20px;

}

header .presentation {
    margin: 50px 0;
    background: url('./img/Jason\ Arnold\ Interiors.jpg') no-repeat;
    width: 100%;
    height: 500px;
    background-size:contain;
    background-position: center;
    background-blend-mode: multiply; 
    background-color: rgb(211, 211, 211); 
    background-size: cover;  /* Aaron Swartz */
    position: relative;
}

header .presentation::after{
    content: "The best goods for your home";
    position:absolute;
    top: 55px ;
    left: 50px;
    width: 300px;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

header .presentation::before{
    content: "Aesthetic situations";
    position:relative;
    top: 200px;
    left: 50px;
    width: 300px;
    font-size: 15px;
    color: rgb(245, 233, 233);
    float: left;
}
main{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .item {
    width: 30%;
    margin-bottom: 50px;
    position: relative;
    padding-bottom: 20px;
}

main .item img  {
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    transition: transform 1s ease;
}

main .item img:hover{
        transform: scale(1.05);
        
}

main h2,
main p,
main b {
    margin: 10px 20px;
    color: rgb(104, 104, 104);
}

main .add-to-cart {
    position: absolute;
    right: 20px;
    bottom:20px;
    background: rgb(59, 158, 238);
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 1s ease;
}

main .add-to-cart:hover {
    transform: scale(1.5) translateY(-5px);
    
}


footer {
     text-align: center;
     margin-top: 100px;
}